<ion-view title="LEDS" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="lEDS-button3" class=" button button-positive  button-block ">Prender Led rojo</button>
        <button id="lEDS-button4" class=" button button-positive  button-block ">Prender Led azul</button>
    </ion-content>
</ion-view>