<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-list1" class=" ">
                <ion-item id="menu-list-item1" ui-sref="menu.lEDS" menu-close="" class="  ">Leds</ion-item>
                <ion-item id="menu-list-item2" ui-sref="menu.instrucciones" menu-close="" class="  ">Instrucciones</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>