<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then remove the CSS include above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="starter">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Titulo largo</h1>
      </ion-header-bar>
      <ion-content class="has-header">
      </ion-content>

    </ion-pane>
    <ion-view title="LEDS" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="lEDS-button3" ng-click="prenderLedUno()" class=" button button-positive  button-block ">Prender Led rojo</button>
        <button id="lEDS-button4" ng-click="prenderLedDos()" class=" button button-positive  button-block ">Prender Led azul</button>
    </ion-content>
</ion-view>
  </body>
</html>
